html
  head
    title OpsManager Rider
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css')
    link(rel='stylesheet', href='css/main.css')
  body
    .container
      .header
        h1 	OpsManager Rider
    .row
      .col-md-12
        #map
    .container
      .row
        .col-md-6
          .h2 Distance
          canvas#distance-by-month
        .col-md-6
          .h2
            // ko text: thisWeekTitle
            // /ko
          table#activities.table.table-striped
            thead.thead-inverse
              th
                .sr-only Profile Picture
              th Cyclist
              th Start Time
              th Distance
              th Average Speed
              th Maximum Speed
            tbody(data-bind="foreach: { data: thisWeekData, as: 'weekData' }")
              tr
                td(data-bind='text: weekData.date' colspan='7')
              // ko foreach: { data: activities, as: 'item' }
              tr
                td
                  img(data-bind='attr: { src: item.avatar_url }')
                td(data-bind='text: item.athlete.username')
                td(data-bind='text: item.time')
                td(data-bind='text: item.distance_kilometer')
                td(data-bind='text: item.average_speed')
                td(data-bind='text: item.max_speed')
              // /ko

  script(data-main='js/main' src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.js')
