html
  head
    title Spec Runner
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.css')
  body
    script(data-main='spec/helper' src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.js')
